.container {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  margin-right: 10px;
}

.priceInputs {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 14px;

  &__input {
    margin: 10px 0 !important;
  }
}

.buttonGroup {
  align-self: center;
}