.container {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 5px;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.pagination {
  margin-top: 50px;
  align-self: center;
}

.productsLoadingIndicator {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  opacity: .3;
  background: #fff;
}