@import '../../../styles/colorsPallete';
@import '../../../styles/breakpoints';

.container {
  position: absolute;
  z-index: 2;
  transform: translateY(-100%);
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 50px);
  width: 100%;
  box-sizing: border-box;
  background-color: $main-color-light;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.opened {
  transform: translateY(0);
}
