$main-color-dark: #232020;
$main-color-semi-dark: #61bdfc;
$main-color-semi-light: #ffd31d;
$main-color-light: #fff;

$main-content-background-color: #f4fbfe;

$search-text-color: #000;

$favorites-color: #b80c00;
$cart-button-color: #1b004a;

$counter-color: #fff;
