$main-color-dark: #0779e4;
$main-color-semi-dark: #4cbbb9;
$main-color-semi-light: #77d8d8;
$main-color-light: #eff3c6;

$search-text-color: #000;

$favorites-color: #b80c00;
$cart-button-color: #1b004a;
